@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TurboForms.ViewModels.CreateOrder;

<div class="formbold-mb-3">
    <label class="formbold-form-label">  @_localizer["BName"] </label>
    <input value="@Model.Name"
           class="formbold-form-input" disabled />
</div>

<div class="formbold-mb-3">
    <label class="formbold-form-label"> @_localizer["BPhone"] </label>
    <input value="@Model.Phone"
           class="formbold-form-input" disabled />
</div>

<div class="formbold-mb-3">
    <label class="formbold-form-label"> @_localizer["BAddress"] </label>
    <input value="@Model.Adress"
           class="formbold-form-input" disabled />
</div>

<div class="formbold-mb-3">
    <label class="formbold-form-label">  @_localizer["PickupDate"] </label>
    <input value="@Model.PickupDate"
           class="formbold-form-input" disabled />
</div>

<hr />

<div class="formbold-mb-3">
    <label class="formbold-form-label">  @_localizer["CName"] </label>
    <input value="@Model.CustomerName"
           class="formbold-form-input" disabled />
</div>

<div class="formbold-mb-3">
    <labe class="formbold-form-label"> @_localizer["CAddress"] </labe>
    <input value="@Model.CustomerAdress"
           class="formbold-form-input" disabled />
</div>

<div class="formbold-mb-3">
    <labe class="formbold-form-label"> @_localizer["CAddressDetails"] </labe>
    <input value="@Model.CustomerAdressDetails"
           class="formbold-form-input" disabled />
</div>

<div class="formbold-mb-3">
    <label class="formbold-form-label">  @_localizer["CPhone"] </label>
    <input value="@Model.CustomerPhone"
           class="formbold-form-input" disabled />
</div>

<hr />

<div class="formbold-mb-3">
    <label class="formbold-form-label"> @_localizer["OrderPrice"] </label>
    <input value="@Model.OrderPrice"
           class="formbold-form-input" disabled />
</div>

<div class="formbold-mb-3">
    <label class="formbold-form-label"> @_localizer["DeliveryFee"] </label>
    <input value="@Model.DeliveryFee"
           class="formbold-form-input" disabled />
</div>

<div class="formbold-mb-3">
    <label class="formbold-form-label"> @_localizer["Total"] </label>
    <input value="@Model.Total"
           class="formbold-form-input" disabled />
</div>
